

p {
    font: #777777;
    
}

img {
    margin-right: 0px;
    margin-left: 50px; 
    
}

body {background: #4aaaa5;
    font-family:'Abril Fatface', cursive;
    height: 100%;
    background-image: url('../images/background.png')
    
}

header {
    background-color: #ffffff; 
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    margin-bottom: 20px;
    
}

h1 { width: 20%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #4aaaa5; 
    text-align: center; 
    display: inline; 
}
h2 {
    color: #4aaaa5;
    word-spacing: 1%;

}
* {
    max-width: 960px;
    margin: auto;
    font-family: 'Adamina', serif;
}

footer {
    background-color: #666666;
    clear: both;
    padding: 20px;
    margin-bottom: 20px;
    padding-inline-end: 50px;
    text-align: center;  
    position: relative;
    position:fixed;bottom:0;left:0;right:0; 
}

.main {
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    position: relative;
    width: 960px;
    padding-bottom: 20px;
    overflow: auto;
    
}

a.link {
    background-color: #ffffff;
    border-color: #dddddd;
    float: right;
    text-align: center;
}
a.link:link { color: black; }
a.link:visited { color: gray; }
a.link:hover { color: pink; }
a.link:active { color: yellow; }

.container {
    width: 960px;
    text-align: left;
    background-color: gray;
    position: relative;
}

.column{
    float: left;
    width: 33.33%;
} 

#name {
    width: 950px;
}

#email {
    width: 950px;
}

#message {
    width: 950px;
}

#biocontent {
    margin-top: 20px;
    margin-right: 20px;
}